* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: darkgrey;
}

.header {
  background-color: #000000;
  color: #ffffff;
  height: 69px;
  width: 100%;
  font-size: xx-large;
  font: italic;
  background-color: #000000;
}

.card {
  width: 400px;
  height: 454px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
}

.card a {
  font-size: 35px;

}

.card p {
  font-size: 30px;

}

.card img {
  width: 300px;
  height: 350px;
  border-bottom: 1.5px solid blue;
}

.katolog {
  display: flex;
  width: 75px;
  margin: auto;
  justify-content: center;
}

.contacts {
  color: rgb(87, 90, 51);
  text-align: center;

}